*{
    /* outline: 2px solid red; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.item1{
    width: 100%;
    margin: 0 auto;
}

.item2{
    font-size: 35px;
    /* text-align: center; */
}

.item3{
    text-align: justify;
    font-size: 18px;
}

.item4{
    background-color: rgb(28, 204, 189);
    width: 150px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    font-family: sans-serif;
}

@media screen and (min-width:800px) {
    .container{
        flex-direction: row;
        width: 80%;
        align-items: center;
        margin: 0 auto;
    }

    .content{
        width: 40%;
        margin: auto;
    }

    .item1{
        width: 60%;
        order: 1;
    }

    .item2{
        font-size: 50px;
    }
}